.book-details-page {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.book-details {
    flex: 1;
    display: grid;
    grid-template-areas:
        "top top"
        "bottom bottom";
    margin: 5px;
    background-color: #f7a4f0;
    max-height: calc(100vh - 30px);
    border-radius: 5px;
}


.book-details-nav {
    display: flex;
    flex-direction: row;
    margin: 2px;
    height: 25px;
    align-items: center;
}

.interim-modal button {
    margin-left: 10px;
    color: #8b0280;
    background-color: #f7a4f0;
    border: none;
    border-radius: 5px;
}

.interim-modal button:hover {
    background-color: #fad0f6;
    border: 2px solid #8b0280;
    font-weight: bold;
    cursor: pointer;
}

.top-half {
    grid-area: top;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
}


.thumbnail {
    margin: 5px;
    background-color: #fad0f6;
    border: 3px groove #8b0280;
    padding: 15px;
    height: 400px;
    width: 255px;
}

.style1 {
    display: flex;
    background-color: #8b0280;
    flex: 1;
    margin: 0px 10px;
    border: 3px solid #f7a4f0;
}

.style2 {
    flex: 1;
    display: flex;
    margin: 5px 20px;
    background-color: #fad0f6;
    border: 2px solid #8b0280;
}

.style3 {
    flex: 1;
    margin: 5px 20px;
    background-color: #f7a4f0;
    border: 1px dotted #f7a4f0;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0px;
}

.thumbnail img {
    height: 100%;
    width: 100%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 5px;
    padding: 15px;
    background-color: #fad0f6;
    border: 3px groove #8b0280;
    height: 400px;
    width: 255px;
    text-align: center;
}

.bottom-half {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    max-height: calc(100vh - 540px);
}

.synopsis {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #8b0280;
    padding: 10px;
    overflow-y: auto;
}

.synopsis p {
    overflow-y: scroll;
    line-height: 25px;
}

.reviews {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 1px solid #8b0280;
    padding: 10px;
    overflow-y: auto;
}

.write-review textarea {
    border: none;
    background-color: transparent;
    resize: none;
    width: 98.5%;
    height: 30px;
}

.write-review textarea:hover,
.write-review textarea:focus {
    border: 2px solid #8b0280;
    background-color: #b78ba0;
    color: white;
}


.write-review textarea:focus {
    height: 75px;
}


.reviews-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
    max-height: 100%;
}

.reviews-list::-webkit-scrollbar,
.synopsis p::-webkit-scrollbar {
    width: 1px;
}


.review {
    display: flex;
    flex-direction: column;
    background-color: #fad0f6;
    padding: 5px;
    border: 1px groove #8b0280;
    border-radius: 5px;
}

.review:hover {
    border: 3px groove #8b0280;
    cursor: pointer;
}
