.ReactModal__Overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 75%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    max-height: 90vh;
    overflow-y: scroll;
}

.modal::-webkit-scrollbar {
    width: 1px;
}

.modal h1,
p {
    text-align: center;
}

.modal h1 {
    margin-bottom: 5px;
}

.modal button {
    font-size: 16pt;
    color: #8b0280;;
    background-color: #f7a4f0;
    border: none;
    margin: 5px 0px;
}

.modal button:hover {
    font-weight: bold;
    background-color: #fad0f6;
    box-shadow: 3px 3px 1px #8b0280;
    border: 2px solid #8b0280;
}


.modal input {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #c2eaea;
    border-radius: 5px;
    border: none;
    height: 30px;
}

.modal textarea {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #c2eaea;
    border-radius: 5px;
    border: none;
    resize: none;
    overflow-y: auto;
}

.modal input::placeholder {
    color: #666;
}

.modal form,
.modal .delete-container,
.modal .logout-confirmation {
    display: flex;
    flex-direction: column;
}


ul {
    padding-left: 0;
    margin: 2px 0px;
}


.exit-modal {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(112 112 112/1);
    cursor: pointer;
    border: 0;
}

.app-buttons button {
    color: #fad0f6;
    background-color: #8b0280;
    margin: 5px;
}

.app-buttons button:hover {
    color: #8b0280;
}
