.approvals {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 80px);
}

.approvals h1 {
    margin: 10px;
}

.new-approvals,
.old-approvals {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    border: 1px solid #f7a4f0;
}

.app-images,
.app-titles {
    display: flex;
    justify-content: center;
}

.app-synopsis {
    display: flex;
    justify-content: space-between;
}

.app-synopsis h5 {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.app-synopsis h5:nth-child(1),
.app-synopsis h5:nth-child(3) {
    flex: 0.5;
}

.app-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 185px;
    height: 400px;
    margin: 10px;
    border: 1px solid #8b0280;
    background-color: #f7a4f0;
    border-radius: 5px;
    overflow-y: scroll;
}


.app-card::-webkit-scrollbar {
    width: 1px;
}


.app-content {
    width: 100%;
}
