.review-wrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    padding: 5px;
}

/* Styling for the textareas in their default state (no hover or focus) */
.editReview,
.editReply {
    flex: 1;
    border: none;

    resize: none;

    background-color: transparent;

    font-size: 16px;

    padding: 0;


    text-indent: 30px;
    color: #d90653;

}

.editReview {
    text-align: left;
}

.editReply {
    text-align: center;
}


.editReview:hover,
.editReply:hover {
    border: 1px solid #8b0280;
}

.editReview:focus,
.editReply:focus {
    border: 2px solid #8b0280;

    background-color: #b78ba0;

    box-shadow: 0 0 5px #8b0280;

    color: white;
}



.newReply {
    resize: none;
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid #8b0280;
}

.newReply::placeholder {
    color: #8b0280;
}

.newReply:hover::placeholder,
.newReply:focus::placeholder {
    color: white;
}

.newReply:hover,
.newReply:focus {
    border: 2px solid #8b0280;
    background-color: #b78ba0;
    color: white;
}

.review,
.reply {
    display: flex;
    flex-direction: column;
    background-color: #fad0f6;
    padding: 5px;
    border: 1px groove #8b0280;
    border-radius: 5px;
}

.review-wrapper .review {
    border: 3px groove #8b0280;
    background: linear-gradient(to bottom, #f382b9f2, #fad0f6);
}

.reply {
    margin-top: 1px;
    margin-left: 15px;
}

.reply-wrapper {
    margin-top: 0px;
    overflow-y: auto;
}

.review:hover,
.reply:hover {
    cursor: default;
}



.review-edit,
.reply-edit {
    display: flex;

}

.review-delete,
.reply-delete {
    margin-left: 10px;
    color: #8b0280;
    background-color: #f7a4f0;
    border: none;
    border-radius: 5px;
}

.review-delete:hover,
.reply-delete:hover {
    background-color: #fad0f6;
    border: 2px solid #8b0280;
    font-weight: bold;
    cursor: pointer;
}

ul {
    margin: 20px;
}
