.google-books {
    overflow: scroll;
    max-height: 30vh;
    border: 10px solid #f7a4f0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
}

.google-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 400px;
    margin: 10px;
    border: 1px solid #8b0280;
    background-color: #f7a4f0;
    border-radius: 5px;
}

.google-book:hover {
    cursor: pointer;
}

.google-book img {
    height: 200px;
    width: 150px;
    margin: 5px;
    margin-bottom: 2px;
}

.google-book-title {
    margin: 2px 5px;
    word-wrap: normal;
}

.google-book-author {
    margin: 2px 5px;
    font-weight: bold;
    font-size: x-small;
    word-wrap: normal;
}

.google-book-description {
    margin: 2px;
    margin-bottom: 5px;
    font-size: small;
    overflow-y: scroll;

}

.google-book-description::-webkit-scrollbar {
    width: 1px;
}

.google-nav-btns {
    display: flex;
    justify-content: center;
}

.google-nav-btns button {
    margin: 5px;
}
