
.app {
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    font-family:Arial, Helvetica, sans-serif;
}

img,
div,
textarea,
input,
button {
    border-radius: 5px;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    width: auto;
    height: 100vh;
    /* Adjust the width of the navbar as needed */
    background-color: #f7a4f0;
    padding: 0px 10px;
    position: relative;

    border-radius: 0;
}


li {
    list-style: none;
    color: red;
}


html,
body,
#root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

i {
    color: #8b0280;
}


.user {
    display: flex;
    justify-content: left;
    align-items: center;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px groove #8b0280;
    background-color: #8b0280;
}

.user h5 {
     margin-left: 5px;
     color: #8b0280;
}
